<div class="main-outer-content-what-services-you-will-personal-profile">
  <div class="row" style="margin: 0">
    <div class="col content-what-services-you-will-personal-profile-col">
      <div class="content-what-services-you-will-personal-profile-icon-circle-div">
        <div class="content-what-services-you-will-personal-profile-icon-circle">
          <i class="fas fa-bezier-curve"></i>
        </div>
      </div>
      <h1 class="content-what-services-you-will-get-header-text">Web Application Developments</h1>
      <p class="content-what-services-you-will-get-paragraph">Web application makes your business functions more speedy.
        Develop web applications for your business with the latest technologies from the experienced developers to reach
        your business goals</p>
    </div>
    <div class="col content-what-services-you-will-personal-profile-col">
      <div class="content-what-services-you-will-personal-profile-icon-circle-div">
        <div class="content-what-services-you-will-personal-profile-icon-circle">
          <i class="fas fa-mobile-alt"></i>
        </div>
      </div>
      <h1 class="content-what-services-you-will-get-header-text">Mobile Application Developments</h1>
      <p class="content-what-services-you-will-get-paragraph">Mobile applications allow your brand to appear on the
        fingertips of your customers. Our world-class mobile application development enables you to discover your
        commercial opportunities.</p>
    </div>
    <div id="col-margin" class="col content-what-services-you-will-personal-profile-col">
      <div class="content-what-services-you-will-personal-profile-icon-circle-div">
        <div class="content-what-services-you-will-personal-profile-icon-circle">
          <i class="fab fa-speaker-deck"></i>
        </div>
      </div>
      <h1 class="content-what-services-you-will-get-header-text">UI/UX Designs</h1>
      <p class="content-what-services-you-will-get-paragraph">UX (user experience) designers measure and optimise
        applications (usually web based) to improve ease of use (usability), and create the best user experience by
        exploring many different approaches to solve end-users' problems</p>
    </div>
  </div>
  <div style="margin-top: 100px">
    <mat-tab-group mat-align-tabs="start">

      <mat-tab label="All">
        <cdk-virtual-scroll-viewport appendOnly itemSize="50" class="example-viewport">
          <app-content-what-services-you-will-personal-profile-all></app-content-what-services-you-will-personal-profile-all>
        </cdk-virtual-scroll-viewport>
      </mat-tab>

      <mat-tab label="Mobile">
        <cdk-virtual-scroll-viewport appendOnly itemSize="50" class="example-viewport">
          <app-content-what-services-you-will-personal-profile-mobile></app-content-what-services-you-will-personal-profile-mobile>
        </cdk-virtual-scroll-viewport>
      </mat-tab>

      <mat-tab label="Web">
        <cdk-virtual-scroll-viewport appendOnly itemSize="50" class="example-viewport">
          <app-content-what-services-you-will-personal-profile-web></app-content-what-services-you-will-personal-profile-web>
        </cdk-virtual-scroll-viewport>
      </mat-tab>

      <mat-tab label="UI/UX">
        <cdk-virtual-scroll-viewport appendOnly itemSize="50" class="example-viewport">
          <app-content-what-services-you-will-personal-profile-ui-ux></app-content-what-services-you-will-personal-profile-ui-ux>
        </cdk-virtual-scroll-viewport>
      </mat-tab>

    </mat-tab-group>
  </div>
</div>
