.main-outer-header-right-content-personal-profile{
  height: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid;
}
.header-right-content-personal-profile-content{
  display: flex;
  flex-direction: row;
  text-align: right;
  width: 100%;
  border: 1px solid;
  justify-content: right;
  padding: 0 30px 0 0;

  p{
    padding: 0;
    margin: 0 0 0 40px;
    font-weight: 500;
    cursor: pointer;
    align-self: center;
    font-size: 16px;
  }

  p:hover{
    color: #E44239;
  }

  button{
    margin: 0 0 0 40px;
    background-color: #ec5b53;
    color: white;
  }

  button:hover{
    background-color: #E44239;
  }

}
.header-contact-me-button{
  padding: 0 20px 0 20px;
}
