.main-outer-content-what-services-you-will-personal-profile-web {
  width: 100%;
  height: 100%;
  background-color: white;
}

.example-viewport {
  height: 550px;
  width: 100%;
  //border: 1px solid black;
}
