<div class="main-outer-content-what-services-you-will-personal-profile-web">

  <div class="row" style="margin: 0 0 15px 0">
    <div class="col">
      <img style="width: 100%" [src]="col1Url" alt="">
    </div>
    <div class="col">
      <img style="height: 100%;width: 100%" [src]="col2Url" alt="">
    </div>
    <div class="col">
      <img style="width: 100%" [src]="col3Url" alt="">
    </div>
  </div>
  <div class="row" style=";margin: 0 0 15px 0">
    <div class="col">
      <img style="width: 100%" [src]="col4Url" alt="">
    </div>
    <div class="col">
      <img style="width: 100%" [src]="col5Url" alt="">
    </div>
    <div class="col">
      <img style="width: 100%" [src]="col6Url" alt="">
    </div>
  </div>
  <div class="row" style=";margin: 0 0 0 0">
    <div class="col">
      <img style="width: 100%" [src]="col7Url" alt="">
    </div>
    <div class="col">
      <img style="width: 100%" [src]="col8Url" alt="">
    </div>
    <div class="col">
      <img style="width: 100%" [src]="col9Url" alt="">
    </div>
  </div>
  <div class="row" style=";margin: 15px 0 0 0">
    <div class="col">
      <iframe style="height: 100%;width: 100%" [src]="col10Url" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="col">
      <img style="width: 100%" [src]="col11Url" alt="">
    </div>
    <div class="col">
      <img style="width: 100%" [src]="col12Url" alt="">
    </div>
  </div>


</div>

